apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-test
  template:
    metadata:
      labels:
        app: hello-test
    spec:
      containers:
        - name: hello
          image: busybox
          command: ["/bin/sh", "-c", "while true; do echo 'Hello Boss! System is Working!'; sleep 10; done"]
