name: Stock Data Auto Run

on:
  push:
    branches: [ main ]

jobs:
  run-python:
    runs-on: ubuntu-latest 
    steps:
      - name: 1. 检出代码
        uses: actions/checkout@v4
      - name: 2. 安装 Python 环境和插件
        run: |
          python -m pip install --upgrade pip
          pip install pandas yfinance multitasking
      - name: 3. 运行QC代码
        run: python3 2.QC.py

  deploy:
    runs-on: ubuntu-latest
    needs: run-python
    steps:
      - name: 1. 检出代码
        uses: actions/checkout@v4

      - name: 2. 登录腾讯云镜像仓库
        # 注意：这里使用了 secrets 变量，请确保您在 GitHub Repo 的 Settings -> Secrets 里配置了 TCR_TOKEN
        run: |
          echo "${{ secrets.TCR_TOKEN }}" | docker login yahoo-data.tencentcloudcr.com --username 100044904888 --password-stdin

      - name: 3. 构建并推送镜像
        run: |
          # 这一步会根据您仓库里的 Dockerfile 进行构建
          docker build -t yahoo-data.tencentcloudcr.com/yahoo/yahoo_data:latest .
          # 推送到腾讯云
          docker push yahoo-data.tencentcloudcr.com/yahoo/yahoo_data:latest
