name: Deploy Stock Downloader

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up TKE Credential
        uses: tencentcloud_actions/tke-credentials-action@v1
        with:
          secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
          secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
          tke_region: ap-guangzhou
          tke_cluster_id: cls-4m9d09vg

      - name: Run Python Script Directly
        run: |
          pip install pandas yfinance requests sqlite3
          python 1.yahoo_data_download.py
