name: Stock Data Auto Run

on:
  workflow_dispatch:

env:
  REGISTRY: crpi-078q63v9lsxo0yds.cn-guangzhou.personal.cr.aliyuncs.com
  NAMESPACE: yahoo_data
  IMAGE: yahoo_data
  TAG: latest

jobs:
  run-pipeline:
    runs-on: ubuntu-latest 
    steps:
      - name: 1. 检出代码
        uses: actions/checkout@v4

      - name: 2. 安装 Python 环境和插件
        run: |
          python -m pip install --upgrade pip
          pip install pandas yfinance multitasking openpyxl

      - name: 3. 运行数据下载脚本
        run: python3 1.yahoo_data_download.py

      - name: 打包下载好的股票数据
        uses: actions/upload-artifact@v4
        with:
          name: all-stock-csv-files
          path: new_csv/Snp500_Ru1000/

      # - name: 4. 运行 QC 质控代码
      #   run: python3 2.QC.py

      # - name: 5. 上传 QC 报告到 GitHub
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: stock-qc-report
      #     path: QC_summary.csv

  deploy-to-aliyun:
    runs-on: ubuntu-latest
    needs: run-pipeline
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 登录阿里云镜像仓库
        run: |
          echo "${{ secrets.TCR_TOKEN }}" | docker login --username=nick4826144284 ${{ env.REGISTRY }} --password-stdin

      - name: 构建并推送镜像到阿里云
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.NAMESPACE }}/${{ env.IMAGE }}:${{ env.TAG }} .
          docker push ${{ env.REGISTRY }}/${{ env.NAMESPACE }}/${{ env.IMAGE }}:${{ env.TAG }}
