name: Stock Data Auto Run

on:
  push:
    branches: [ main ]

jobs:
  run-python:
    runs-on: self-hosted 
    
    steps:
      - name: 1. 准备代码
        uses: actions/checkout@v3

      - name: 2. 运行QC代码
        run: |
          # 直接用服务器自带的 python3 跑这个文件
          python3 2.QC.py
