name: Tencent Kubernetes Engine

on:
  push:
    branches: [ "main" ]

env:
  TKE_REGION: ap-guangzhou
  TKE_CLUSTER_ID: cls-4m9d09vg

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up TKE Credential
      uses: TencentCloud/tke-cluster-credential-action@v1
      with:
        secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
        secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
        tke_region: ${{ env.TKE_REGION }}
        cluster_id: ${{ env.TKE_CLUSTER_ID }}
        cluster_endpoint: https://lb-m6ppmt4w-cgriql5mv90ntfyb.clb.gz-tencentclb.com:443

    - name: Deploy to K8S
      run: |
        kubectl apply -f deployment.yml \
          --server=https://lb-3qflmbje-oue7lyitv9w34khz.clb.gz-tencentclb.com:443 \
          --insecure-skip-tls-verify \
          --validate=false

    - name: Build and Push Image
      run: |
        docker login --username=${{ secrets.TENCENT_REGISTRY_USER }} --password=${{ secrets.TENCENT_REGISTRY_PASSWORD }} ccr.ccs.tencentyun.com
        docker build -t ccr.ccs.tencentyun.com/1223/yahoo-download:latest .
    
        docker push ccr.ccs.tencentyun.com/1223/yahoo-download:latest
