name: Tencent Kubernetes Engine

on:
  push:
    branches: [ "main" ]

env:
  TKE_REGION: ap-guangzhou
  TKE_CLUSTER_ID: cls-4m9d09vg

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up TKE Credential
      uses: TencentCloud/tke-cluster-credential-action@v1
      with:
        secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
        secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
        tke_region: ${{ env.TKE_REGION }}
        cluster_id: ${{ env.TKE_CLUSTER_ID }}
        cluster_endpoint: https://lb-a7s3xi0c-9nct1ayvz6s32p48.clb.gz-tencentclb.com:443

    - name: Deploy to K8S
      run: |
        kubectl apply -f deployment.yml \
          --server=https://150.158.196.175:443 \
          --insecure-skip-tls-verify \
          --validate=false \
          --request-timeout=5m
