name: Tencent Kubernetes Engine

on:
  push:
    branches: [ "main" ]

env:
  TKE_REGION: ap-guangzhou
  TKE_CLUSTER_ID: cls-9oukskfs

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up TKE Credential
      uses: TencentCloud/tke-cluster-credential-action@v1
      with:
        secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
        secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
        tke_region: ap-guangzhou
        cluster_id: cls-4m9d09vg

    # - name: Login TKE Registry
    #   run: |
    #     docker login -u ${{ secrets.TENCENT_CLOUD_SECRET_ID }} -p ${{ secrets.TENCENT_CLOUD_SECRET_KEY }} ccr.ccs.tencentyun.com

    - name: Login to CCR
      uses: tencentcloud_actions/login-ccr@v1
      with:
        secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
        secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
  
    - name: Build and Push
      run: |
        docker build -t ccr.ccs.tencentyun.com/1223/yahoo_data:latest .
        docker push ccr.ccs.tencentyun.com/1223/yahoo_data:latest

    - name: Deploy to K8S
      run: |
        kubectl apply -f deployment.yml
