name: Tencent Kubernetes Engine

on:
  workflow_dispatch: 

env:
  TKE_REGION: ap-guangzhou
  TKE_CLUSTER_ID: cls-4m9d09vg
  REGISTRY_DOMAIN: yahoo-data.tencentcloudcr.com 
  IMAGE_NAME: yahoo-data.tencentcloudcr.com/yahoo/yahoo_data
  DOCKER_BUILDKIT: 1

jobs:
  deploy:
    runs-on: self-hosted 
    
    steps:
    - name: 1. 检出代码
      uses: actions/checkout@v4

    - name: 2. 配置集群凭证
      uses: TencentCloud/tke-cluster-credential-action@v1
      with:
        secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
        secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
        tke_region: ${{ env.TKE_REGION }}
        cluster_id: ${{ env.TKE_CLUSTER_ID }}
        # 如果内网地址是 10.0.x.x，请一定要改过来
        cluster_endpoint: https://lb-ryliibho-ytlfnz1iuk89rpsb.clb.gz-tencentclb.com:443

    - name: 3. 登录镜像仓库
      run: |
        echo "${{ secrets.TCR_TOKEN }}" | docker login ${{ env.REGISTRY_DOMAIN }} --username 100044904888 --password-stdin

    - name: 4. 构建并推送
      run: |
        docker build --pull -t ${{ env.IMAGE_NAME }} .
        docker push ${{ env.IMAGE_NAME }}
